.red{
  background-color:#D32F2F;
  text-align: center;
}

.blue{
  background-color:#03A9F4;
  text-align: center;
}

.orange-deep{
  background-color:#FF5722 ;
  text-align: center;
}

.teal{
  background-color:#009688;
  text-align: center;
}

.cyan{
  background-color:#00BCD4;
  text-align: center;
}

.leters-white{
  color: white;
}

